# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# VSCode settings (optional, but useful)
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env
.env.*

# Pytest / coverage
.cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# MyPy / other type checkers
.mypy_cache/
.dmypy.json
.pyre/
